<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/home">
    <img src="./assets/style/images/logo.png" style="margin-top: -10px; height: 40px;">
  </a>
</nav>

<div class="background-fondo">

  <div class="mt-5 text-center">
    <h3>PORTAL DE ADMINISTRACION WEB</h3>
  </div>

  <div class="card mx-auto mt-5" style="width: 300px;">
    <div class="card-header text-center">
      <h4>Cambiar Password</h4>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="col">
          <form novalidate [formGroup]="lForm" autocomplete="off" spellcheck="false">
            <div class="form-group">
              <label for="password1">Ingrese nueva contraseña</label>
              <input type="password" class="form-control" placeholder="Ingrese password" formControlName="password1">

              <p class="text-danger text-form-valid"
                *ngIf="lForm.controls['password1'].invalid && (lForm.controls['password1'].dirty || lForm.controls['password1'].touched)">
                Requerido, minimo caracteres 5 y maximo 30</p>
            </div>
            <div class="form-group">
              <label for="password2">Confirme nueva contraseña</label>
              <input type="password" class="form-control" placeholder="Ingrese password" formControlName="password2">

              <p class="text-danger text-form-valid"
                *ngIf="lForm.controls['password2'].invalid && (lForm.controls['password2'].dirty || lForm.controls['password2'].touched)">
                Requerido, minimo caracteres 5 y maximo 30</p>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn btn-primary btn-block" [disabled]="!lForm.valid" (click)="onValidarpassword(lForm.value)"><i
                    class="fas fa-sign-in-alt"></i>
                  Guardar</button>
                <!--
                <button class="btn btn-primary btn-block" (click)="onRecovery()"><i class="fas fa-envelope"></i>
                  Recuperar Password</button>
                  -->
              </div>
            </div>
            <div *ngIf="load" class="row" style="margin-top: 20px; margin-bottom: -20px;">
              <div class="col text-center">
                <img src="./assets/images/load32.gif" alt="Cargando..">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngFor="let alert of alerts" class="text-center mt-3">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
          {{ alert.msg }}
        </alert>
      </div>
    </div>
  </div>

  <!-- <div class="card-body text-center mt-4">
    <img src="./assets/style/images/logo.png">
  </div> -->
</div>
