<div class="card">
  <div class="card-header">
    {{ titulo }}
  </div>
  <div class="card-body">
    <form novalidate [formGroup]="fForm" autocomplete="off" spellcheck="false">
      <div class="form-row div-top">
        <div class="form-group col-md-2">
          <label for="codprestacion" class="col-form-label-sm">Cód Prestación</label>
          <input appAutofocus appNumberonly appSelecttext type="text" class="form-control form-control-sm"
            placeholder="0000000" formControlName="codprestacion" (blur)="onChangeCodPrestacionCanal()">
          <p class="text-danger text-form-valid"
            *ngIf="fForm.controls['codprestacion'].invalid && fForm.controls['codprestacion'].touched">
            Requerido
          </p>
        </div>

        <div class="form-group col-md-3">
          <label for="canal" class="col-form-label-sm">Canal de Venta</label>
          <select class='form-control form-control-sm' name='canal' formControlName='canal'
            [compareWith]='compare_canal' (change)="onChangeCodPrestacionCanal()">
            <!-- <option *ngFor='let canal of canales' [ngValue]='canal'>
              {{ canal.GloOrigenVenta }}
            </option> -->
            <option></option>
          </select>
          <p class="text-danger text-form-valid"
            *ngIf="fForm.controls['canal'].invalid && (fForm.controls['canal'].dirty || fForm.controls['canal'].touched)">
            Requerido</p>
        </div>

        <div class="form-group col-md-5">
          <label for="gloprestacion" class="col-form-label-sm">Prestación</label>
          <input type="text" class="form-control form-control-sm" formControlName="gloprestacion">
        </div>

        <div class="form-group col-md-1">
          <label for="grupo" class="col-form-label-sm">Grupo</label>
          <input type="text" class="form-control form-control-sm" formControlName="grupo">
        </div>
        <div class="form-group col-md-1">
          <label for="subgrupo" class="col-form-label-sm">S.Grupo</label>
          <input type="text" class="form-control form-control-sm" formControlName="subgrupo">
        </div>
      </div>

      <div class="form-row div-top">
        <div class="form-group col-md-3">
          <label for="rutusuariobloqueo" class="col-form-label-sm">Rut Usuario Bloqueo</label>
          <input type="text" class="form-control form-control-sm" formControlName="rutusuariobloqueo">
        </div>
        <div class="form-group col-md-6">
          <label for="nombreusuariobloqueo" class="col-form-label-sm">Nombre Usuario Bloqueo</label>
          <input type="text" class="form-control form-control-sm" formControlName="nombreusuariobloqueo">
        </div>
        <div class="form-group col-md-3">
          <label for="fechabloqueo" class="col-form-label-sm">Fecha Bloqueo</label>
          <input type="text" class="form-control form-control-sm" formControlName="fechabloqueo">
        </div>
      </div>
      <!--
      <div class="form-row div-top">
        <div class="form-group col-md-3">
          <label for="rutusuariodesbloqueo" class="col-form-label-sm">Rut Usuario DesBloqueo</label>
          <input type="text" class="form-control form-control-sm" formControlName="rutusuariodesbloqueo">
        </div>
        <div class="form-group col-md-6">
          <label for="nombreusuariodesbloqueo" class="col-form-label-sm">Nombre Usuario DesBloqueo</label>
          <input type="text" class="form-control form-control-sm" disabled>
        </div>
        <div class="form-group col-md-3">
          <label for="fechadesbloqueo" class="col-form-label-sm">Fecha DesBloqueo</label>
          <input type="text" class="form-control form-control-sm"
            value="{{ bloqueoprestacion.FechaDesbloqueo === '01-01-1900 00:00:00'?'': bloqueoprestacion.FechaDesbloqueo }}"
            disabled>
        </div>
      </div>
      -->

    </form>

    <div *ngFor="let alert of alerts" class="text-center mt-3">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}
      </alert>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-md-6">
        <button *ngIf="isbloqueo===true" type="button" [disabled]="!fForm.valid || isenabled"
          class="btn btn-primary btn-sm ml-1" tooltip="BLOQUEAR PRESTACIÓN" (click)="onBloquear()"><i
            class="fas fa-save"></i>
          BLOQUEAR</button>
        <button *ngIf="isbloqueo===false" type="button" class="btn btn-primary btn-sm ml-1"
          tooltip="DESBLOQUEAR PRESTACIÓN" (click)="onDesbloquear()"><i class="fas fa-save"></i>
          DESBLOQUEAR</button>
      </div>
      <div class="col-md-6 text-right">
        <button type="button" class="btn btn-primary btn-sm ml-2" tooltip="CERRAR" (click)="onCerrar()"><i
            class="fas fa-window-close"></i>
          CERRAR</button>
      </div>
    </div>
  </div>
</div>

<swal #alertSwalError title="" text="" type="warning" [showCancelButton]="false"></swal>

<swal #alertSwalOK title="" text="" type="success" [showCancelButton]="false" (confirm)="onCerrar()"> </swal>

<swal #alertSwalInfo title="" text="" type="info" [showCancelButton]="false"> </swal>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"> </ngx-loading>
